@media only screen and (max-width: 768px) {
    .fa-bars {
      color: #000000;
    }
 .navbar__nav i{
    display: block;
 }
      .header .banner {
        padding-top: 2rem;
      }
      .about .about__content {
        grid-template-columns: 1fr;
      }
      .about .about__content .item {
        width: 90%;
      }
      .about .about__content .item img {
        width: 100%;
        padding-bottom: 2rem;
        padding-top: 2rem;
      }
      .header {
        height: 50vh;
      }
      .servic .title h2 {
        font-size: 2.2rem;
      }
      .servic .servic__contact {
        grid-template-columns: 1fr;
        margin-top: 20rem;
      }
      .servic .container{
        margin-top: 50rem;
      }
      .servic .container .title{
        position: absolute;
        
        margin-bottom: 300rem;
      }
      .servic .servic__contact .item__contact {
        grid-template-columns: 1fr;
        margin-top: 18rem;
      }
      .servic .servic__contact .item__contact img {
        width: 100%;
        padding-bottom: 2rem;
      }
      .footer .footer__content {
        grid-template-columns: 1fr;
      }
      .footer .footer__content .item {
        margin-top: 1.5rem;
      }
      .footer .footer__content .item span {
        padding: 15px 10px;
      }
      .footer .copyright  {
        width: 70%;
        margin: 0 auto;
      }
      .menu .menu__contact {
        grid-template-columns: 1fr;
      }
      .menu .menu__contact h2 {
        margin-left: 1rem;
        margin-top: 2rem;
      }
      .menu .menu__contact p{
        margin-top: 2rem;
        font-size: 1rem;
      }
      .menu .menu__contact .item__contact img {
        margin-left: 1rem;
        width: 80%;
      }

    .banner{
        width: 100%;
        text-align: center;
        display: inline;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .banner h1{
        font-size: 4rem;
    }
    .banner span{
        font-size: 1.5rem;
    }
    .navbar__nav a{
        display: none;
    }

     }
